.page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.page-padding {
    padding: 1rem;
}

.page-background {
    background: url("/resources/image/background.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

html, body, .full {
    width: 100%;
    height: 100%;
}

.card-acrylic {
    /*background: rgba(255, 255, 255, 0.5);*/
    box-shadow: 0 5px 15px rgba(20, 20, 20, 0.4);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 15px;
    backdrop-filter: blur(50px);
}
    /*.card-acrylic:hover {
        -webkit-transform: scale(1.25, 1.25);
        transform: scale(1.25, 1.25);
    }

    .card-acrylic::after { 
        content: '';
        border-radius: 15px;
        z-index: -1;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(20, 20, 20, 0.6);
        opacity: 0;
        -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .card-acrylic:hover::after {
        opacity: 1;
    }*/

.text-outline {
    /*text-shadow: -0.5px 0 rgba(200, 200, 200, 1), 0 0.5px rgba(200, 200, 200, 1), 0.5px 0 rgba(200, 200, 200, 1), 0 -0.5px rgba(200, 200, 200, 1);*/
    color: white;
    text-shadow: 0 0 4px #32003C;
}

.text-outline-black {
    color: black;
    text-shadow: 0 0 4px #c4c4c4;
}

.text-overflow-auto {
    overflow: auto;
}

.carousel-image-size {
    width: 680px;
    height: 425px;
}

.spoiler {
    background-color: black;
    color: black;
    /*user-select: none;*/
    cursor: help;
    transition: background-color 0.3s ease 0.2s, color 0.2s ease 0.25s;
}
    .spoiler:hover,
    .spoiler:focus {
        color: inherit;           
    }

.masonry {
    width: 1440px;
    margin: 20px auto;
    columns: 2;
    column-gap: 30px;
}

.masonry-item {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 30px;
}

.masonry-item img {
    width: auto;
}

.masonry-item h2 {
    padding: 8px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1439.98px) {
    .masonry {
      width: 96vw;
      columns: 2;
      column-gap: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .masonry {
      width: 96vw;
      columns: 1;
      column-gap: 20px;
    }
}

@media screen and (max-width: 767.98px) {
    .masonry {
      width: 96vw;
      columns: 1;
    }
}
