.icon-image {
    border-radius: 0;
    border: 0rem solid rgb(var(--n-title-text-color, 12, 12, 12));
    overflow: visible;
}

.extra-text {
    font-size: 1.75rem;
}

.classes-background {
    background-image: linear-gradient(
        to bottom right,
        rgb(var(--bar-color)) 50%,
        rgb(var(--risk-color)) 50%
    );
}

.acs-container * {
    --five-color: rgb(196, 2, 51);
    --four-color: rgb(255, 109, 0);
    --three-color: rgb(255, 211, 0);
    --two-color: rgb(0, 135, 189);
    --two-color-box: rgba(0, 135, 189, 0.15);
    --one-color: rgb(0, 159, 107);

    --safe: rgb(0, 159, 107);
    --safe-box: rgba(0, 159, 107, 0.15);
    --euclid: rgb(255, 211, 0);
    --euclid-box: rgba(255, 211, 0, 0.15);
    --keter: rgb(196, 2, 51);
    --keter-box: rgba(196, 2, 51, 0.15);

    --esoteric: rgb(66, 66, 72);
    --vlam: rgb(255, 109, 0);
    --vlam-box: rgba(255, 109, 0, 0.15);
}

.acs-container {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'number  bar     bar     bar     level'
        'divider divider divider divider divider'
        'class   class   class   class   diamond'
        'disrupt disrupt disrupt disrupt diamond'
        'risk    risk    risk    risk    diamond';
    * {
        --time-delay: 1.5;
        user-select: none;
    }
}

@media (max-width: 114px) {
    * {
        visibility: hidden !important;
        display: none !important;
        content: '就这么小?!' !important;
        width: 0 !important;
        height: 0 !important;
        user-select: all;
    }
}

@media (max-width: 375px) {
    .class > .container .class-icon,
    .disrupt > .container .disrupt-icon,
    .risk > .container .risk-icon {
        display: none !important;
        overflow: hidden !important;
        content: '' !important;
        size: none !important;
        width: 0 !important;
        height: 0 !important;
    }
}

@media (max-width: 600px) {
    .acs-container {
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.1fr 0.2fr 0.1fr 0.75fr 0.25fr 0.25fr 1fr;
        grid-template-areas:
            'number'
            'bar'
            'level'
            'divider'
            'class'
            'disrupt'
            'risk'
            'diamond';
    }

    .level > .lvl {
        font-size: 1.5rem;
    }

    .level > .clearance {
        display: flex;
    }

    .acs-container > .diamond {
        grid-auto-rows: max-content;
    }

    .diamond > .container {
        border-radius: 15px;
        border-top: 0.5rem solid var(--n-title-text-color);
        border-left: none !important;
        border-image: linear-gradient(
                to bottom,
                rgb(var(--bar-color)),
                rgb(var(--disrupt-color)),
                rgb(var(--risk-color))
            )
            1 !important;
        top: 0rem !important;
        right: 0rem !important;
        margin: 0 0rem 0 0 !important;
        width: 100%;
        align-content: center;
        justify-content: center;
    }
    .class > .container .class-icon,
    .disrupt > .container .disrupt-icon,
    .risk > .container .risk-icon {
        justify-self: right;
        padding-left: 4vw;
        padding-right: none !important;
    }
}

@media (max-width: 320px) {
    .number > .text {
        word-wrap: break-word !important;
        overflow: visible !important;
        font-size: calc(16px + (15 - 12) * ((100vw - 400px) / (1920 - 960))) !important;
    }
    .number > .num {
        word-wrap: break-word !important;
        overflow: visible !important;
        padding-left: 0.25rem !important;
        font-size: calc(28px + (50 - 25) * ((100vw - 300px) / (1920 - 300))) !important;
    }
    .level > .lvl {
        word-wrap: break-word !important;
        overflow: visible !important;
        font-size: calc(26px + (15 - 12) * ((100vw - 400px) / (1920 - 960))) !important;
    }
    .level > .clearance {
        word-wrap: break-word !important;
        overflow: visible !important;
        font-size: calc(16px + (15 - 12) * ((100vw - 400px) / (1920 - 960))) !important;
    }
}

@media (max-width: 395px) and (min-width: 320px) {
    .number > .num {
        font-size: calc(35px + (50 - 25) * ((100vw - 300px) / (1920 - 300))) !important;
    }
    .level > .lvl {
        font-size: calc(30px + (15 - 12) * ((100vw - 400px) / (1920 - 960))) !important;
    }
    .level > .clearance {
        font-size: calc(20px + (15 - 12) * ((100vw - 400px) / (1920 - 960))) !important;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .acs-container {
        grid-template-columns: 1.25fr 1fr;
        grid-template-areas:
            'number  diamond'
            'bar     diamond'
            'level   diamond'
            'divider divider'
            'class   class'
            'disrupt disrupt'
            'risk    risk';
    }

    .level > .lvl {
        font-size: 1.5rem;
    }

    .level > .clearance {
        display: flex;
        /*align-items: flex-end !important;
        justify-content: flex-end !important;*/
    }

    .diamond > .container {
        border-left: 0.5rem solid var(--n-title-text-color) !important;
    }
}

@media (max-width: 1024px) {
    .acs-container > .bar {
        flex-direction: row !important;
        -webkit-box-orient: horizontal !important;
    }

    .acs-container > .bar > div {
        width: 100% !important;
        max-height: 0%;
        animation-name: bar2 !important;
        animation-duration: calc(2 * var(--time-delay)) !important;
        animation-timing-function: ease-out !important;
        animation-iteration-count: 1 !important;
        animation-fill-mode: forwards !important;
    }

    .acs-container > .bar > div:nth-child(1) {
        animation-delay: calc(0.25s * var(--time-delay)) !important;
    }

    .acs-container > .bar > div:nth-child(2) {
        animation-delay: calc(0.35s * var(--time-delay)) !important;
    }

    .acs-container > .bar > div:nth-child(3) {
        animation-delay: calc(0.45s * var(--time-delay)) !important;
    }

    .acs-container > .bar > div:nth-child(4) {
        animation-delay: calc(0.55s * var(--time-delay)) !important;
    }

    .acs-container > .bar > div:nth-child(5) {
        animation-delay: calc(0.65s * var(--time-delay)) !important;
    }

    .acs-container > .bar > div:nth-child(6) {
        animation-delay: calc(0.75s * var(--time-delay)) !important;
    }

    .acs-container > .diamond > .container > .diamond-background {
        top: 0;
        right: 0;
        left: 0;
        margin: 0 1rem 1rem 1rem;
        display: flex;
        align-items: flex-start;
    }
}

/*@media (min-width: 1024px) and (max-width: 1440px) {
    .diamond > .container {
        border-left-width: 0 !important;
    }
}*/

@media (min-width: 1440px) {
    .acs-container {
        grid-template-columns: 1fr 1fr 0.05fr 1fr 1fr 1fr;
        grid-template-rows: 0.75fr 0.35fr 0.85fr 0.85fr;
        grid-template-areas:
            'number  bar     bar     bar     bar     level'
            'divider divider divider divider divider divider'
            'class   class   .       disrupt disrupt diamond'
            'class   class   .       risk    risk    diamond';
    }
}

.acs-container > .number,
.acs-container > .bar,
.acs-container > .level {
    justify-items: stretch;
    padding-bottom: 1.5rem;
}

.acs-container > .number {
    grid-area: number;
    padding: 0.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'text num';
    display: grid;
}

.number > .text {
    grid-area: text;
    font-size: calc(18px + (20 - 12) * ((100vw - 300px) / (1920 - 960)));
    font-size: 1.5rem;
    white-space: nowrap;
}

.number > .num {
    grid-area: num;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: calc(30px + (50 - 25) * ((100vw - 300px) / (1920 - 300)));
    font-size: 3.75rem;
    padding-left: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.acs-container > .bar {
    grid-area: bar;
    padding: 0.5em;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
}

.bar > div {
    display: block;
    background-color: rgb(255, 211, 0);
    background-color: rgb(var(--bar-color));
    height: 0.5rem;
    width: 100%;
    margin: 0.225rem;
}

.acs-container > .level {
    grid-area: level;
    padding: 0.5em;
    grid-template-areas: 'level clearance';
    display: grid;
}

.level > .lvl {
    grid-area: level;
    font-size: calc(35px + (15 - 12) * ((100vw - 400px) / (1920 - 960)));

    font-size: 2.5rem;
    white-space: nowrap;
}

.level > .clearance {
    grid-area: clearance;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: calc(12px + (15 - 12) * ((100vw - 400px) / (1920 - 960)));
    font-size: 1.75rem;
    padding-top: 0.325em;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.acs-container > .divider {
    grid-area: divider;
    padding: 0.5em 0em;
}

.divider > div {
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    background-color: var(--n-title-text-color);
    height: 0.5rem;
    width: 100%;
    margin: 0.225rem;
    animation-name: bar;
    animation-duration: calc(0.45s * var(--time-delay)) !important;
    animation-timing-function: ease-out !important;
    animation-iteration-count: 1 !important;
    animation-fill-mode: backwards !important;
}

.acs-container > .class {
    grid-area: class;
    border-width: 1em !important;
    padding: 0.5em;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: 0.25rem 0 0 0 rgb(0 0 0 / 0%);
    & > .container {
        border-radius: 6px;
        width: 100%;
        height: 100%;
        padding: 0.5rem 0;
        margin: 0 0 0 0.25rem;
        border-left: 0.85rem solid rgba(255, 211, 0, 1);
        border-left: 0.9rem solid rgb(var(--bar-color));
        background-color: rgba(255, 211, 0, 0.15);
        background-color: rgba(var(--bar-color), var(--color-opacity));
        & > .contain-class {
            width: 100%;
            height: 100%;
            align-items: flex-start;
            display: grid;
            grid-template-areas:
                'class-category'
                'class-text'
                'class-secondary-category'
                'class-secondary-text';
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            position: relative;
        }
        & .class-category {
            grid-area: class-category;
            font-size: calc(12px + (15 - 12) * ((100vw - 400px) / (1920 - 960)));
            font-size: 1.75rem;
            padding-left: 1rem;
            text-align: left;
            display: flex;
            height: 100%;
            top: 0;
            left: 0;
            right: 1rem;
            align-items: center;
            justify-content: flex-start;
        }
        & .class-text {
            grid-area: class-text;
            font-size: calc(12px + (15 - 12) * ((100vw - 400px) / (1920 - 960)));
            font-size: 3.25rem;
            padding-left: 1rem;
            line-height: 1.3;
            text-align: left;
            display: flex;
            height: 100%;
            top: 0;
            left: 0;
            right: 1rem;
            align-items: center;
            justify-content: flex-start;
            text-decoration: underline rgb(var(--class-color));
        }
        & .class-secondary-category {
            grid-area: class-secondary-category;
            font-size: calc(8px + (15 - 12) * ((100vw - 400px) / (1920 - 960)));
            font-size: 1.5rem;
            padding-left: 1rem;
            text-align: left;
            display: flex;
            height: 100%;
            top: 0;
            left: 0;
            right: 1rem;
            align-items: center;
            justify-content: flex-start;
        }
        & .class-secondary-text {
            grid-area: class-secondary-text;
            font-size: calc(8px + (15 - 12) * ((100vw - 400px) / (1920 - 960)));
            font-size: 2rem;
            padding-left: 1rem;
            text-align: left;
            display: flex;
            height: 100%;
            top: 0;
            left: 0;
            right: 1rem;
            align-items: center;
            justify-content: flex-start;
            text-decoration: underline rgb(var(--secondary-color));
        }
        & .class-icon {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.acs-container > .disrupt {
    grid-area: disrupt;
    border-width: 1em !important;
    padding: 0.5em;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: 0.25rem 0 0 0 rgb(0 0 0 / 0%);
    & > .container {
        border-radius: 6px;
        width: 100%;
        height: 100%;
        padding: 0.25rem 0;
        margin: 0 0 0 0.25rem;
        border-left: 0.85rem solid rgba(0, 135, 189, 1);
        background-color: rgba(0, 135, 189, 0.15);
        border-left: 0.85rem solid rgb(var(--disrupt-color));
        background-color: rgba(var(--disrupt-color), var(--color-opacity));
        & .contain-disrupt {
            width: 100%;
            height: 100%;
            align-items: flex-start;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            position: relative;
        }
    }
}

.disrupt > .container .disrupt-category,
.risk > .container .risk-category {
    font-size: 1.5rem;
}
.risk > .container .risk-category {
    grid: risk-category;
}
.risk > .container .risk-normal-text {
    grid: risk-text;
    text-decoration: underline rgb(var(--risk-color));
}

.disrupt > .container .disrupt-category {
    grid: disrupt-category;
}
.disrupt > .container .disrupt-normal-text {
    grid: disrupt-text;
    text-decoration: underline rgb(var(--disrupt-color));
}

.disrupt > .container .disrupt-text {
    font-size: calc(12px + (15 - 12) * ((100vw - 400px) / (1920 - 960)));
    font-size: 1.75rem;
    padding-left: 1rem;
    text-align: left;
    display: grid;
    grid-template-areas:
        'disrupt-category'
        'disrupt-text';
    height: 100%;
    top: 0;
    left: 0;
    right: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.disrupt > .container .disrupt-icon {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.acs-container > .risk {
    grid-area: risk;
    border-width: 1em !important;
    padding: 0.5em;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: 0.25rem 0 0 0 rgb(0 0 0 / 0%);
    & > .container {
        border-radius: 6px;
        width: 100%;
        height: 100%;
        padding: 0.25rem 0;
        margin: 0 0 0 0.25rem;
        border-left: 0.85rem solid rgba(0, 135, 189, 1);
        background-color: rgba(0, 135, 189, 0.15);
        border-left: 0.85rem solid rgb(var(--risk-color));
        background-color: rgba(var(--risk-color), var(--color-opacity));
        & .contain-risk {
            width: 100%;
            height: 100%;
            align-items: flex-start;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            position: relative;
        }
        & .risk-text {
            font-size: calc(12px + (15 - 12) * ((100vw - 400px) / (1920 - 960)));
            font-size: 1.75em;
            padding-left: 1rem;
            text-align: left;
            display: grid;
            grid-template-areas: 'disrupt-category' 'disrupt-text';
            height: 100%;
            top: 0;
            left: 0;
            right: 1rem;
            align-items: center;
            justify-content: flex-start;
        }
        & .risk-icon {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}

.acs-container > .diamond {
    grid-area: diamond;
    padding: 0.5em;
    & > .container {
        border-radius: 6px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 0.25rem 0;
        margin: 0 0 0 0.25rem;
        border-left: 0.75rem solid var(--n-title-text-color);
        border-image: linear-gradient(
                to bottom,
                rgb(var(--bar-color)),
                rgb(var(--disrupt-color)),
                rgb(var(--risk-color))
            )
            1;
        background-color: var(--n-close-color, 0, 135, 189, 0.15);
        background-color: transparent;
        & > * {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            vertical-align: middle;
        }
        & > .diamond-background {
            box-sizing: border-box;
            animation: fade ease-in-out 1;
            animation-duration: calc(0.35s * var(--time-delay));
            height: 100%;
            max-height: 100%;
            max-width: 90%;
            object-fit: fill;
            overflow: visible;
            /*margin: 0 0.8rem 0 0.8rem;*/
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 160 160' xml:space='preserve'%3E%3Cpath fill='%23010101' d='M136.1,133.3l23.9-23.9V51.2l-24-24l19.1-19.1l4.9,4.9l0-12.9l-12.9,0l4.9,4.9L133,24.2l-24-24H51l-24,24 L8,5.2l4.9-4.9L0,0.2l0,12.9l4.9-4.9L24,27.3l-24,24v58.2l23.9,23.9l-19,19L0,147.3l0,12.9l12.9,0L8,155.3l19-19l23.9,23.9h58.4 l23.9-23.9l19,19l-4.9,4.9l12.9,0l0-12.9l-4.9,4.9L136.1,133.3z M155.7,53v54.6l-22.6,22.6l-50-50L133,30.3L155.7,53z M52.8,4.5 h54.4l22.7,22.7L80,77.2L30.1,27.3L52.8,4.5z M4.3,107.6V53L27,30.3L77,80.2l-50,50L4.3,107.6z M107.4,155.9H52.6L30,133.3l50-50 l50,50L107.4,155.9z'/%3E%3C/svg%3E%0A");
            display: flex;
            align-items: center;
            vertical-align: middle;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
        }
        & .quadrants {
            position: absolute;
            width: 96%;
            height: 96%;
            top: 0;
            left: 0;
        }
    }
}

.acs-container > .bar > div {
    border-radius: 3px;
    width: 0;
    animation-name: bar;
    animation-duration: calc(0.25s * var(--time-delay)) !important;
    animation-timing-function: ease-out !important;
    animation-iteration-count: 1 !important;
    animation-fill-mode: forwards !important;
}

.bar-loop(@i) when (@i > 0) {
    .acs-container > .bar > div:nth-child(@{i}) {
        animation-delay: calc((0.15s + 0.1s * @i) * var(--time-delay)) !important;
    }
    .bar-loop((@i - 1));
}
.bar-loop(6);

.acs-icon {
    box-sizing: border-box;
    width: 150px;
    height: 80%;
    overflow: hidden;
    vertical-align: middle;
    text-align: start;
    margin-right: 1rem;
    /*background-color: var(--n-close-color, 0, 135, 189, 0.15);
    background-color: var(--n-text-color);*/
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    animation: icon-slide ease-in-out;
    animation-duration: calc(0.35s * var(--time-delay));

    img {
        max-width: 85%;
        max-height: 85%;
    }
}

.fade-text {
    animation: fade ease-in-out;
    animation-duration: calc(0.3s * var(--time-delay));
}
.fade-icon {
    animation: fade ease-in-out;
    animation-duration: calc(1s * var(--time-delay));
}
.slide-rotate-diamond {
    animation: slide-rotate ease-in-out;
    animation-duration: calc(0.4s * var(--time-delay));
}
.fade-background-color {
    animation: fade-scale ease-in-out;
    animation-duration: calc(0.65s * var(--time-delay));
}

.acs-small-icon {
    height: 65%;

    img {
        max-width: 55%;
        max-height: 55%;
    }
}

@keyframes bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes bar2 {
    from {
        max-height: 0%;
    }

    to {
        max-height: 100%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-scale {
    from {
        opacity: 0;
        transform: translateZ(-5);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes icon-slide {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-rotate {
    from {
        opacity: 0;
        transform: translateX(5rem) rotate(45deg);
    }

    to {
        opacity: 1;
        transform: translateX(0) rotate(0);
    }
}

@media (min-width: 3072px) {
    .acs-container {
        grid-template-rows: max-content;
        height: fit-content;
        width: max-content;
    }
}
