html,
body,
#app,
.full {
    height: 100%;
    margin: 0;
    padding: 0;
}

spoiler {
    background-color: black;
    color: black;
    cursor: help;
    transition: color 0.2s ease 0.25s;

    &:hover,
    &:focus {
        color: white;
    }
}

.jokes-images {
    width: 100%;
    height: 520px;
    object-fit: fill;
}

.tab-pane-style {
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes StretchIn {
    from {
        max-width: 0;
    }
    to {
        max-width: initial;
    }
}

a:-webkit-any-link {
    color: var(--n-color-target);
    opacity: 0.85;
}

colview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2vw;
}
rowview {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 2vw;
}
