html,
body,
#app,
.full {
    height: 100%;
    margin: 0;
    padding: 0;
}

spoiler {
    background-color: black;
    color: black;
    cursor: help;
    transition: color 0.2s ease 0.25s;

    &:hover,
    &:focus {
        color: white;
    }
}

.jokes-images {
    width: 100%;
    height: 520px;
    object-fit: fill;
}

.tab-pane-style {
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}
