html,
body,
#app,
.full {
    height: 100%;
    margin: 0;
    padding: 0;
}

.jokes-images {
    width: 100%;
    height: 520px;
    object-fit: fill;
}

.tab-pane-style {
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'bslang-letter';
    src: url('fonts/bslang-letter.eot?1e93de');
    src: url('fonts/bslang-letter.eot?1e93de#iefix') format('embedded-opentype'),
        url('fonts/bslang-letter.ttf?1e93de') format('truetype'),
        url('fonts/bslang-letter.woff?1e93de') format('woff'),
        url('fonts/bslang-letter.svg?1e93de#bslang-letter') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    line-height: 1;
    font-size: 2rem;
}
@font-face {
    font-family: 'bslang-emoji';
    src: url('fonts/bslang-emoji.eot?r2hbut');
    src: url('fonts/bslang-emoji.eot?r2hbut#iefix') format('embedded-opentype'),
        url('fonts/bslang-emoji.ttf?r2hbut') format('truetype'),
        url('fonts/bslang-emoji.woff?r2hbut') format('woff'),
        url('fonts/bslang-emoji.svg?r2hbut#bslang-emoji') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    line-height: 1;
    font-size: 2rem;
}
[class^='bschar-'],
[class*=' bschar-'] {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bslang-letter {
    font-family: 'bslang-letter';
}
.bslang-emoji {
    font-family: 'bslang-emoji';
}
